<h1>TDA</h1>
<form action="" class="form">
	<div class="form-group">
		<label for="todo"></label>
		<input ng-model="$ctrl.newTodo.title" type="text" class="form-control" id="todo"
		       placeholder="Add your todo here...">
		<p class="help-block">Enter a todo then click add.</p>
	</div>
	<div class="form-group">
		<label for="priority">Priority</label>
		<select ng-model="$ctrl.newTodo.priority" class="form-control" id="priority">
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select>
	</div>
	<button
			ng-click="$ctrl.addTodo()"
			type="button"
			class="btn btn-default">ADD TODO
	</button>
</form>
<br/>
<section>
	<ul class="list-group">
		<li ng-repeat="todo in $ctrl.todoArr | orderBy: 'priority'" class="list-group-item">
			<span
					ng-class="{
						todo_done: todo.done,
						highPriority: (todo.priority < 2)
					}">
				{{ todo.title }}
			</span>
			<button
					ng-click="$ctrl.markDone(todo)"
					type="button"
					class="btn btn-success pull-right">
				DONE
			</button>
		</li>
	</ul>
</section>
